<form ng-submit="supEditCtrl.saveSup()">
    <div class="form-group">
        <label class="sr-only" for="sup-input">
            Sup text
        </label>
        <textarea ng-model="supEditCtrl.editedSup.text" class="form-control" id="sup-input"></textarea>
    </div>
    <button class="btn btn-primary" 
        ng-disabled="!supEditCtrl.editedSup.text"
        type="submit"
    >
        Save sup
    </button>
    <button class="btn btn-danger" 
        ng-show="supEditCtrl.cancel"
        ng-click="supEditCtrl.cancel()"
        type="button"
    >
        Cancel
    </button>
</form>